.search-bar {
  display: flex;
  padding: 10px;
  background: #f4f4f4;
  .input-wrapper {
    flex: 1;
    position: relative;
    border-radius: 3px;
    padding: 8px 12px 8px 35px;
    background-color: #fff;
  }
  input {
    flex: 1;
    outline: 0;
    height: 20px;
    line-height: 20px;
    width: 100%;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    display: block;
    font-size: 14px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }
  .search-icon-wrapper {
    position: absolute;
    .search-icon {
      position: relative;
      width: 38px;
      height: 38px;
      .circle {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        position: absolute;
        border-radius: 50%;
        top: 45%;
        margin-top: -8px;
        left: 50%;
        margin-left: -8px;
      }
      .stick {
        width: 6px;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        position: absolute;
        transform: rotate(45deg);
        left: 23px;
        top: 25px;
      }
    }
  }
}
.search-results {
  .song-item {
    display: block;
    position: relative;
    height: 55px;
    padding-left: 56px;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
  .song-name {
    margin: 10px 0 2px;
    line-height: 18px;
    font-size: 16px;
    font-weight: normal;
    color: #000;
  }
  .song-artist {
    color: #808080;
    font-size: 12px;
  }
  .icon-music {
    top: 18px;
    left: 18px;
    width: 22px;
    height: 20px;
    position: absolute;
    background-position: 0 0;
    background-size: 22px 30px;
    background-repeat: no-repeat;
    background-image: url(../images/search.png);
  }
}

.search-loading {
  height: 55px;
  text-align: center;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  &.show { display: flex; }
  .loading-icon {
    top: -2px;
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-size: 20px 20px;
    background-image: url('../images/icon_loading.png');
    animation: loading 1s infinite;
  }
  .loading-text {
    margin-left: 5px;
  }
  .loading-done, .loading-text {
    color: #808080;
    font-size: 12px;
  }
}

@keyframes loading {
  from { transform: rotate(0deg) }
  8.32% { transform: rotate(0deg) }
  8.33% { transform: rotate(30deg) }
  16.65% { transform: rotate(30deg) }
  16.66% { transform: rotate(60deg) }
  24.99% { transform: rotate(60deg) }
  25% { transform: rotate(90deg) }
  33.32% { transform: rotate(90deg) }
  33.33% { transform: rotate(120deg) }
  41.65% { transform: rotate(120deg) }
  41.66% { transform: rotate(150deg) }
  49.99% { transform: rotate(150deg) }
  50% { transform: rotate(180deg) }
  58.32% { transform: rotate(180deg) }
  58.33% { transform: rotate(210deg) }
  66.65% { transform: rotate(210deg) }
  66.66% { transform: rotate(240deg) }
  74.99% { transform: rotate(240deg) }
  75% { transform: rotate(270deg) }
  83.32% { transform: rotate(270deg) }
  83.33% { transform: rotate(300deg) }
  91.65% { transform: rotate(300deg) }
  91.66% { transform: rotate(330deg) }
  99.99% { transform: rotate(330deg) }
}